/* 3. Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#ef6a8a; 
	z-index:9999999; 
}

.spinner {
	position:absolute;
	left:50%; 
	top:50%; 
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 10px;
	margin-left:-25px;
}

.spinner > div {
	background-color: #fff;
	height: 100%;
	width: 6px;
	display: inline-block; 
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
	0%, 40%, 100% { 
	transform: scaleY(0.4);
	-webkit-transform: scaleY(0.4);
	}  20% { 
	transform: scaleY(1.0);
	-webkit-transform: scaleY(1.0);
	}
}

/* Đổi màu đỏ cho thông báo lỗi */
.error-title {
	color: red !important; /* Đổi màu tiêu đề thành đỏ */
}
  
.error-content {
	color: red !important; /* Đổi màu nội dung thành đỏ */
}

/* Đổi màu vàng cho thông báo sai thông tin */
.weird-title
{
	color: chocolate !important;
}
.weird-content
{
	color: chocolate !important;
}

/* Đổi màu xanh cho thông báo hoàn thành*/
.complete-title
{
	color: rgb(117, 240, 117) !important;
}
.complete-content
{
	color: rgb(117, 240, 117) !important;
}